@charset "UTF-8";
/*comentario de css */
main section.galeria-imagenes {
  width: 100%;
  max-width: 1200px;
  margin: 20px auto;
}
main section.galeria-imagenes h2 span {
  font-weight: bold;
}
main section.galeria-imagenes .contenedor-galeria {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 25px;
  justify-content: center;
}
main section.galeria-imagenes .contenedor-galeria .item-galeria {
  border-radius: 30px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
main section.galeria-imagenes .contenedor-galeria .item-galeria img {
  display: block;
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}
main section.galeria-imagenes .contenedor-galeria .item-galeria img:hover {
  transform: scale(1.05);
}
main .container {
  background-color: #000000;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
main .container .titulo h1 {
  margin-bottom: 20px;
}
main .container .row {
  display: flex;
  flex-wrap: wrap;
}
main .container .row .col-md-6 {
  width: 50%;
  padding: 20px;
  box-sizing: border-box;
}
main .container .row .col-md-6 .textoform {
  font-size: 22pt;
  text-align: left;
  margin-right: 10pt;
}
main .container .row .col-md-6 .textoform a {
  color: #ffffff;
  text-decoration: none;
}
main .container .row .col-md-6 .textoform a:hover {
  color: #48AE8B;
}
main .container .row .col-md-6 .textoform a span {
  font-weight: 600;
}
main .container .row .col-md-6 form label {
  display: block;
  margin-bottom: 5px;
}
main .container .row .col-md-6 form input[type=text],
main .container .row .col-md-6 form input[type=email],
main .container .row .col-md-6 form select,
main .container .row .col-md-6 form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ffffff;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #000;
  color: #fff;
}
main .container .row .col-md-6 form textarea {
  height: 120px;
}
main .container .row .col-md-6 form button {
  background-color: #000000;
  color: #fff;
  padding: 10px 20px;
  border: 2px solid;
  border-radius: 20px;
  cursor: pointer;
}
main .container .row .col-md-6 form button:hover {
  background-color: #48AE8B;
}
main .container .row .col-md-6 .contact-info {
  margin-top: 20px;
}
main .container .row .col-md-6 .contact-info a {
  color: #ffffff;
  text-decoration: none;
}

footer .textfooter {
  margin-top: 15pt;
  text-align: center;
  color: #696969;
}
footer .textfooter h2 span {
  font-weight: bold;
}
footer .textfooter .social-icons {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}
footer .textfooter .social-icons li {
  margin: 0 10px;
}
footer .textfooter .social-icons li a {
  color: #fff;
  font-size: 24px;
  text-decoration: none;
}
footer .textfooter .social-icons li a:hover {
  color: #48AE8B;
}
footer .textfooter .copyright {
  font-size: 14px;
  color: #888;
  margin-top: 10px;
}

@media (max-width: 576px) {
  main section.galeria-imagenes .contenedor-galeria {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}
@media (max-width: 768px) {
  main .container {
    padding: 30px;
  }
  main .container .titulo h1 {
    font-size: 24pt;
    margin-bottom: 10px;
  }
  main .container .row .col-md-6 {
    width: 100%;
    padding: 10px;
  }
  main .container .row .col-md-6 .textoform {
    font-size: 16pt;
    text-align: center;
    margin-right: 0;
  }
  main .container .row .col-md-6 form label {
    font-size: 14pt;
  }
  main .container .row .col-md-6 form input[type=text],
  main .container .row .col-md-6 form input[type=email],
  main .container .row .col-md-6 form select,
  main .container .row .col-md-6 form textarea {
    font-size: 14pt;
    padding: 8px;
  }
  main .container .row .col-md-6 form textarea {
    height: 100px;
  }
  main .container .row .col-md-6 form button {
    font-size: 14pt;
    padding: 8px 16px;
  }
}
@media (max-width: 768px) {
  footer .textfooter h2 {
    font-size: 1.2rem;
  }
  footer .textfooter p {
    font-size: 1rem;
  }
  footer .textfooter .social-icons a {
    font-size: 20px;
  }
  footer .textfooter .copyright {
    font-size: 0.8rem;
  }
}
@media (max-width: 576px) {
  footer .textfooter .social-icons a {
    font-size: 18px;
  }
}
main section.publicaciones-recientes {
  padding: 40px;
}
main section.publicaciones-recientes .tituloblog {
  text-align: center;
  margin-bottom: 30px;
}
main section.publicaciones-recientes .tituloblog span {
  font-weight: bold;
}
main section.publicaciones-recientes .grid-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
}
main section.publicaciones-recientes .grid-container .publicacion-principal img {
  width: 100%;
  height: auto;
}
main section.publicaciones-recientes .grid-container .publicacion-principal .primernot {
  font-size: 1.5rem;
  margin-top: 10px;
  font-weight: 600;
}
main section.publicaciones-recientes .grid-container .publicacion-principal .nuevopostpar {
  line-height: 1.6;
  margin-bottom: 20px;
  text-align: justify;
  margin-top: 20px;
  margin-bottom: 20px;
}
main section.publicaciones-recientes .grid-container .publicacion-principal a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  border: 1px solid #ddd;
  padding: 8px 16px;
  border-radius: 20px;
  margin-top: 20px;
}
main section.publicaciones-recientes .grid-container .publicacion-principal a:hover {
  text-decoration: underline;
}
main section.publicaciones-recientes .grid-container .publicaciones-secundarias {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
main section.publicaciones-recientes .grid-container .publicaciones-secundarias .publicacion-secundaria img {
  width: 100%;
  height: auto;
}
main section.publicaciones-recientes .grid-container .publicaciones-secundarias .publicacion-secundaria h4 {
  font-size: 1.1rem;
  margin-top: 10px;
  font-weight: 600;
}
main section.publicaciones-recientes .grid-container .publicaciones-secundarias .publicacion-secundaria p {
  line-height: 1.4;
  margin-bottom: 20px;
}
main section.publicaciones-recientes .grid-container .publicaciones-secundarias .publicacion-secundaria a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  border: 1px solid #ddd;
  padding: 8px 16px;
  border-radius: 20px;
}
main section.publicaciones-recientes .grid-container .publicaciones-secundarias .publicacion-secundaria a:hover {
  text-decoration: underline;
}
main section.novedades {
  padding: 20px;
}
main section.novedades .otraspublicaciones {
  text-align: center;
}
main section.novedades .otraspublicaciones span {
  font-weight: bold;
}
main section.novedades .novedades-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  gap: 20px;
}
main section.novedades .novedades-container .novedad {
  border: 1px solid #000000;
  padding: 15px;
  border-radius: 5px;
}
main section.novedades .novedades-container .novedad a {
  display: block;
}
main section.novedades .novedades-container .novedad a img {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
}
main section.novedades .novedades-container .novedad a img:hover {
  transform: scale(1.05);
}
main section.novedades .novedades-container .novedad h3 {
  margin-bottom: 5px;
  font-weight: 500;
}
main section.novedades .novedades-container .novedad p {
  line-height: 1.4;
  margin-bottom: 10px;
  font-weight: 200;
  text-align: justify;
}
main section.novedades .novedades-container .novedad .categorias {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
main section.novedades .novedades-container .novedad .categorias span {
  background-color: #48AE8B;
  padding: 5px 10px;
  border-radius: 3px;
  font-size: 0.9rem;
}
main section.novedades .paginacion {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}
main section.novedades .paginacion span {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}
main section.novedades .paginacion span:hover {
  background-color: #494949;
}

main section.suscripcion {
  background-color: #000000;
  padding: 40px;
  text-align: center;
}
main section.suscripcion h2 {
  margin-bottom: 10px;
}
main section.suscripcion p {
  margin-bottom: 20px;
}
main section.suscripcion form {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
main section.suscripcion form input[type=email] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
  width: 300px;
}
main section.suscripcion form button {
  padding: 10px 20px;
  background-color: #000;
  color: #fff;
  border: 1px solid;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}
main section.suscripcion form button:hover {
  background-color: #494949;
}
main section.suscripcion p a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
main section.suscripcion p a:hover {
  text-decoration: underline;
}
main .container {
  background-color: #000000;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
main .container .titulo h1 {
  margin-bottom: 20px;
}
main .container .row {
  display: flex;
  flex-wrap: wrap;
}
main .container .row .col-md-6 {
  width: 50%;
  padding: 20px;
  box-sizing: border-box;
}
main .container .row .col-md-6 .textoform {
  font-size: 22pt;
  text-align: left;
  margin-right: 10pt;
}
main .container .row .col-md-6 .textoform a {
  color: #ffffff;
  text-decoration: none;
}
main .container .row .col-md-6 .textoform a:hover {
  color: #48AE8B;
}
main .container .row .col-md-6 .textoform a span {
  font-weight: 600;
}
main .container .row .col-md-6 form label {
  display: block;
  margin-bottom: 5px;
}
main .container .row .col-md-6 form input[type=text],
main .container .row .col-md-6 form input[type=email],
main .container .row .col-md-6 form select,
main .container .row .col-md-6 form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ffffff;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #000;
  color: #fff;
}
main .container .row .col-md-6 form textarea {
  height: 120px;
}
main .container .row .col-md-6 form button {
  background-color: #000000;
  color: #fff;
  padding: 10px 20px;
  border: 2px solid;
  border-radius: 20px;
  cursor: pointer;
}
main .container .row .col-md-6 form button:hover {
  background-color: #48AE8B;
}
main .container .row .col-md-6 .contact-info {
  margin-top: 20px;
}
main .container .row .col-md-6 .contact-info a {
  color: #ffffff;
  text-decoration: none;
}
main footer .textfooter {
  margin-top: 15pt;
  text-align: center;
  color: #696969;
}
main footer .textfooter h2 span {
  font-weight: bold;
}
main footer .textfooter .social-icons {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}
main footer .textfooter .social-icons li {
  margin: 0 10px;
}
main footer .textfooter .social-icons li a {
  color: #fff;
  font-size: 24px;
  text-decoration: none;
}
main footer .textfooter .social-icons li a:hover {
  color: #48AE8B;
}
main footer .textfooter .copyright {
  font-size: 14px;
  color: #888;
  margin-top: 10px;
}

@media (max-width: 768px) {
  main section.publicaciones-recientes .grid-container {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 768px) {
  main section.suscripcion {
    padding: 20px;
  }
  main section.suscripcion form {
    flex-direction: column;
    align-items: center;
  }
  main section.suscripcion form input[type=email] {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  main section.suscripcion form button {
    border-radius: 5px;
  }
  main .container {
    padding: 30px;
  }
  main .container .titulo h1 {
    font-size: 24pt;
    margin-bottom: 10px;
  }
  main .container .row .col-md-6 {
    width: 100%;
    padding: 10px;
  }
  main .container .row .col-md-6 .textoform {
    font-size: 16pt;
    text-align: center;
    margin-right: 0;
  }
  main .container .row .col-md-6 form label {
    font-size: 14pt;
  }
  main .container .row .col-md-6 form input[type=text],
  main .container .row .col-md-6 form input[type=email],
  main .container .row .col-md-6 form select,
  main .container .row .col-md-6 form textarea {
    font-size: 14pt;
    padding: 8px;
  }
  main .container .row .col-md-6 form textarea {
    height: 100px;
  }
  main .container .row .col-md-6 form button {
    font-size: 14pt;
    padding: 8px 16px;
  }
}
@media (max-width: 768px) {
  footer .textfooter h2 {
    font-size: 1.2rem;
  }
  footer .textfooter p {
    font-size: 1rem;
  }
  footer .textfooter .social-icons a {
    font-size: 20px;
  }
  footer .textfooter .copyright {
    font-size: 0.8rem;
  }
}
@media (max-width: 576px) {
  footer .textfooter .social-icons a {
    font-size: 18px;
  }
}
body .contenedor-base, body .container2 {
  max-width: 1000px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 5px;
}
body .container2 {
  border: none;
}
body .container2 .noticia2 .fecha2 {
  font-size: 0.9rem;
  color: #888;
  margin-bottom: 10px;
}
body .container2 .noticia2 .titulo2 {
  margin-bottom: 20px;
}
body .container2 .noticia2 .titulo2 span {
  font-weight: bold;
}
body .container2 .noticia2 img {
  width: 100%;
  height: auto;
  margin-bottom: 15px;
}
body .container2 .noticia2 .texto {
  line-height: 1.6;
  margin-bottom: 20px;
  text-align: justify;
}
body section.novedades {
  padding: 20px;
}
body section.novedades .otraspublicaciones {
  text-align: center;
}
body section.novedades .otraspublicaciones span {
  font-weight: bold;
}
body section.novedades .novedades-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  gap: 20px;
}
body section.novedades .novedades-container .novedad {
  border: 1px solid #000000;
  padding: 15px;
  border-radius: 5px;
}
body section.novedades .novedades-container .novedad a {
  display: block;
}
body section.novedades .novedades-container .novedad a img {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
}
body section.novedades .novedades-container .novedad a img:hover {
  transform: scale(1.05);
}
body section.novedades .novedades-container .novedad h3 {
  margin-bottom: 5px;
  font-weight: 500;
}
body section.novedades .novedades-container .novedad p {
  line-height: 1.4;
  margin-bottom: 10px;
  font-weight: 200;
  text-align: justify;
}
body section.novedades .novedades-container .novedad .categorias {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
body section.novedades .novedades-container .novedad .categorias span {
  background-color: #48AE8B;
  padding: 5px 10px;
  border-radius: 3px;
  font-size: 0.9rem;
}
body section.novedades .paginacion {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}
body section.novedades .paginacion span {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}
body section.novedades .paginacion span:hover {
  background-color: #494949;
}
body .container {
  background-color: #000000;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
}
body .container .titulo h1 {
  margin-bottom: 20px;
}
body .container .row {
  display: flex;
  flex-wrap: wrap;
}
body .container .row .col-md-6 {
  width: 50%;
  padding: 20px;
  box-sizing: border-box;
}
body .container .row .col-md-6 .textoform {
  font-size: 22pt;
  text-align: left;
  margin-right: 10pt;
}
body .container .row .col-md-6 .textoform a {
  color: #ffffff;
  text-decoration: none;
}
body .container .row .col-md-6 .textoform a:hover {
  color: #48AE8B;
}
body .container .row .col-md-6 .textoform a span {
  font-weight: 600;
}
body .container .row .col-md-6 form label {
  display: block;
  margin-bottom: 5px;
}
body .container .row .col-md-6 form input[type=text],
body .container .row .col-md-6 form input[type=email],
body .container .row .col-md-6 form select,
body .container .row .col-md-6 form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ffffff;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #000;
  color: #fff;
}
body .container .row .col-md-6 form textarea {
  height: 120px;
}
body .container .row .col-md-6 form button {
  background-color: #000000;
  color: #fff;
  padding: 10px 20px;
  border: 2px solid;
  border-radius: 20px;
  cursor: pointer;
}
body .container .row .col-md-6 form button:hover {
  background-color: #48AE8B;
}
body .container .row .col-md-6 .contact-info {
  margin-top: 20px;
}
body .container .row .col-md-6 .contact-info a {
  color: #ffffff;
  text-decoration: none;
}
body footer .textfooter {
  margin-top: 15pt;
  text-align: center;
  color: #696969;
}
body footer .textfooter h2 span {
  font-weight: bold;
}
body footer .textfooter .social-icons {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 20px 0;
}
body footer .textfooter .social-icons li {
  margin: 0 10px;
}
body footer .textfooter .social-icons li a {
  color: #fff;
  font-size: 24px;
  text-decoration: none;
}
body footer .textfooter .social-icons li a:hover {
  color: #48AE8B;
}
body footer .textfooter .copyright {
  font-size: 14px;
  color: #888;
  margin-top: 10px;
}

@media (max-width: 768px) {
  body .container2 {
    padding: 30px;
  }
  body .container2 .noticia2 .titulo2 {
    font-size: 1.8rem;
  }
  body .container2 .noticia2 .texto {
    font-size: 1rem;
  }
  body section.novedades .novedades-container {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 576px) {
  body section.novedades .paginacion {
    flex-wrap: wrap;
  }
}
@media (max-width: 768px) {
  main .container {
    padding: 30px;
  }
  main .container .titulo h1 {
    font-size: 24pt;
    margin-bottom: 10px;
  }
  main .container .row .col-md-6 {
    width: 100%;
    padding: 10px;
  }
  main .container .row .col-md-6 .textoform {
    font-size: 16pt;
    text-align: center;
    margin-right: 0;
  }
  main .container .row .col-md-6 form label {
    font-size: 14pt;
  }
  main .container .row .col-md-6 form input[type=text],
  main .container .row .col-md-6 form input[type=email],
  main .container .row .col-md-6 form select,
  main .container .row .col-md-6 form textarea {
    font-size: 14pt;
    padding: 8px;
  }
  main .container .row .col-md-6 form textarea {
    height: 100px;
  }
  main .container .row .col-md-6 form button {
    font-size: 14pt;
    padding: 8px 16px;
  }
}
@media (max-width: 576px) {
  main .container .row .col-md-6 .textoform {
    font-size: 14pt;
  }
}
@media (max-width: 768px) {
  footer .textfooter h2 {
    font-size: 1.2rem;
  }
  footer .textfooter p {
    font-size: 1rem;
  }
  footer .textfooter .social-icons a {
    font-size: 20px;
  }
  footer .textfooter .copyright {
    font-size: 0.8rem;
  }
}
@media (max-width: 576px) {
  footer .textfooter .social-icons {
    margin: 10px 0;
  }
  footer .textfooter .social-icons a {
    font-size: 18px;
  }
}
section.trabajos {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
}
section.trabajos .contenedor-texto {
  text-align: justify;
  max-width: 800px;
  margin-bottom: 30px;
}
section.trabajos .contenedor-texto .titleproyect {
  font-size: 2.5rem;
  margin-bottom: 15px;
}
section.trabajos .contenedor-texto .titleproyect span {
  font-weight: bold;
}
section.trabajos .contenedor-texto .espacio-vacio {
  font-size: 1.1rem;
  line-height: 1.6;
}
section.trabajos .contenedor-texto .descripcion {
  font-size: 1.1rem;
  line-height: 1.6;
  max-width: 800px;
  margin: 0 auto;
}

.trabajos-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(1080px, 1fr));
  gap: 20px;
  margin-bottom: 40px;
  max-width: 800px;
  width: 100%;
  justify-content: center;
}
.trabajos-grid .trabajo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.trabajos-grid .trabajo img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  display: block;
  max-width: 800px;
}

section.galeria-imagenes {
  width: 100%;
  max-width: 1200px;
  margin: 20px auto;
}
section.galeria-imagenes h2 span {
  font-weight: bold;
}
section.galeria-imagenes .contenedor-galeria {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 25px;
  justify-content: center;
}
section.galeria-imagenes .contenedor-galeria .item-galeria {
  border-radius: 30px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
section.galeria-imagenes .contenedor-galeria .item-galeria img {
  display: block;
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}
section.galeria-imagenes .contenedor-galeria .item-galeria img:hover {
  transform: scale(1.05);
}

.container {
  background-color: #000000;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
}
.container .titulo h1 {
  margin-bottom: 20px;
}
.container .row {
  display: flex;
  flex-wrap: wrap;
}
.container .row .col-md-6 {
  width: 50%;
  padding: 20px;
  box-sizing: border-box;
}
.container .row .col-md-6 .textoform {
  font-size: 22pt;
  text-align: left;
  margin-right: 10pt;
}
.container .row .col-md-6 .textoform a {
  color: #ffffff;
  text-decoration: none;
}
.container .row .col-md-6 .textoform a:hover {
  color: #48AE8B;
}
.container .row .col-md-6 .textoform a span {
  font-weight: 600;
}
.container .row .col-md-6 form label {
  display: block;
  margin-bottom: 5px;
}
.container .row .col-md-6 form input[type=text],
.container .row .col-md-6 form input[type=email],
.container .row .col-md-6 form select,
.container .row .col-md-6 form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ffffff;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #000;
  color: #fff;
}
.container .row .col-md-6 form textarea {
  height: 120px;
}
.container .row .col-md-6 form button {
  background-color: #000000;
  color: #fff;
  padding: 10px 20px;
  border: 2px solid;
  border-radius: 20px;
  cursor: pointer;
}
.container .row .col-md-6 form button:hover {
  background-color: #48AE8B;
}
.container .row .col-md-6 .contact-info {
  margin-top: 20px;
}
.container .row .col-md-6 .contact-info a {
  color: #ffffff;
  text-decoration: none;
}

footer .textfooter {
  margin-top: 15pt;
  text-align: center;
  color: #696969;
}
footer .textfooter h2 span {
  font-weight: bold;
}
footer .textfooter .social-icons {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 20px 0;
}
footer .textfooter .social-icons li {
  margin: 0 10px;
}
footer .textfooter .social-icons li a {
  color: #ffffff;
  text-decoration: none;
}
footer .textfooter .social-icons li a:hover {
  color: #48AE8B;
}
footer .textfooter .copyright {
  font-size: 14px;
  color: #888;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .trabajos-grid {
    grid-template-columns: 1fr;
    max-width: 100%;
  }
  main .container {
    padding: 30px;
  }
  main .container .titulo h1 {
    font-size: 24pt;
    margin-bottom: 10px;
  }
  main .container .row .col-md-6 {
    width: 100%;
    padding: 10px;
  }
  main .container .row .col-md-6 .textoform {
    font-size: 16pt;
    text-align: center;
    margin-right: 0;
  }
  main .container .row .col-md-6 form label {
    font-size: 14pt;
  }
  main .container .row .col-md-6 form input[type=text],
  main .container .row .col-md-6 form input[type=email],
  main .container .row .col-md-6 form select,
  main .container .row .col-md-6 form textarea {
    font-size: 14pt;
    padding: 8px;
  }
  main .container .row .col-md-6 form textarea {
    height: 100px;
  }
  main .container .row .col-md-6 form button {
    font-size: 14pt;
    padding: 8px 16px;
  }
}
@media (max-width: 576px) {
  main .container .row .col-md-6 .textoform {
    font-size: 14pt;
  }
}
@media (max-width: 768px) {
  footer .textfooter h2 {
    font-size: 1.2rem;
  }
  footer .textfooter p {
    font-size: 1rem;
  }
  footer .textfooter .social-icons a {
    font-size: 20px;
  }
  footer .textfooter .copyright {
    font-size: 0.8rem;
  }
}
@media (max-width: 576px) {
  footer .textfooter .social-icons {
    margin: 10px 0;
  }
  footer .textfooter .social-icons a {
    font-size: 18px;
  }
}
body {
  font-family: "Work Sans", sans-serif;
  color: #ffffff;
  background: linear-gradient(45deg, #000, #000000);
  background-size: 100% 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: right;
}
body .fondonav {
  background-color: #000;
  padding: 10px 20px;
}
body .navbar-brand img {
  max-height: 50px;
}
body .navbar-nav {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
body .navbar-nav .nav-item {
  margin-left: 20px;
}
body .navbar-nav .nav-item .nav-link {
  text-decoration: none;
  color: #fff;
}
body .navbar-nav .nav-item .nav-link:hover {
  color: #48AE8B;
}
body .navbar-toggler {
  border: none;
  background-color: transparent;
}
body .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
body .seccion-bienvenida {
  display: flex;
  justify-content: center;
}
body .seccion-bienvenida .contenido-bienvenida {
  display: flex;
  align-items: center;
  max-width: 1700px;
  margin: 0 auto;
  flex-wrap: wrap;
}
body .seccion-bienvenida .contenido-bienvenida .parrafosobremi {
  font-size: 2rem;
  max-width: 650px;
  margin-right: 20px;
  margin-top: 20px;
}
body .seccion-bienvenida .contenido-bienvenida .contenedor-imagenes {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 20px;
  flex-wrap: wrap;
  justify-content: center;
}
body .seccion-bienvenida .contenido-bienvenida .contenedor-imagenes .imagen-izquierda,
body .seccion-bienvenida .contenido-bienvenida .contenedor-imagenes .imagen-individual {
  width: 250px;
  height: 350px;
  border-radius: 10px;
  overflow: hidden;
}
body .seccion-bienvenida .contenido-bienvenida .contenedor-imagenes .imagen-izquierda img,
body .seccion-bienvenida .contenido-bienvenida .contenedor-imagenes .imagen-individual img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}
body .seccion-bienvenida .contenido-bienvenida .contenedor-imagenes .imagenes-derecha {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

header {
  font-family: "Work Sans", sans-serif;
  text-align: left;
  padding: 1rem;
  font-size: 1rem;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
header nav .logo img {
  max-height: 50px;
}
header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
header nav ul li {
  margin-left: 10px;
}
header nav ul li a {
  text-decoration: none;
  color: inherit;
}
header nav ul li a:hover {
  color: #48AE8B;
}

main section {
  padding: 30px;
  text-align: left;
}
main section h1 {
  font-size: 2.5rem;
  font-weight: 300;
  margin: 20px;
  color: #ffffff;
  overflow: hidden;
  border-right: 0.15em solid orange;
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}
main section h1 span {
  font-weight: 600;
  color: #48AE8B;
}
main section h2 {
  font-weight: 300;
  font-size: 2rem;
}
main section h2 span {
  font-weight: bold;
}
main section p span {
  font-weight: 600;
}
main section .boton {
  background-color: #4CAF50;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
main section.soydg {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  padding: 100px;
  margin-top: 0;
  box-sizing: border-box;
}
main section.soydg .soydg-content {
  display: flex;
  flex-direction: column;
  text-align: center;
}
main section.soydg .soydg-content .texto-destacado {
  margin-top: calc(25vh - 50px);
}
main section.soydg .soydg-content .texto-destacado span {
  color: #48AE8B;
}
main section.trabajos1 {
  text-align: center;
  padding: 20px;
  margin-bottom: 60px;
}
main section.trabajos1 .cliente {
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 40px;
}
main section.trabajos1 .cliente img {
  max-width: 200px;
  height: auto;
}
main section.trabajos1 .cliente-carousel {
  display: none;
  text-align: center;
  margin-top: 20px;
}
main section.trabajos1 .cliente-carousel img {
  max-width: 150px;
  height: auto;
}
main section.trabajos1 .cliente-carousel .carousel-controls {
  margin-top: 10px;
}
main section.trabajos1 .cliente-carousel .carousel-controls a {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 8px 16px;
  margin: 0 5px;
  cursor: pointer;
  text-decoration: none;
}
main section.servicios {
  padding: 50px 20px;
  text-align: center;
  margin-top: auto;
}
main section.servicios h2 {
  font-size: 2rem;
  margin-bottom: 30px;
  font-weight: 300;
}
main section.servicios h2 span {
  font-weight: bold;
}
main section.servicios .contenedor-servicios {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}
main section.servicios .contenedor-servicios .servicio1,
main section.servicios .contenedor-servicios .servicio2 {
  width: 100%;
  max-width: 1200px;
  display: flex;
  align-items: center;
  text-align: left;
}
main section.servicios .contenedor-servicios .servicio1.servicio1,
main section.servicios .contenedor-servicios .servicio2.servicio1 {
  flex-direction: row-reverse;
}
main section.servicios .contenedor-servicios .servicio1 img,
main section.servicios .contenedor-servicios .servicio2 img {
  max-width: 450px;
  height: auto;
  margin: 20px;
}
main section.servicios .contenedor-servicios .servicio1 .contenido-servicio,
main section.servicios .contenedor-servicios .servicio2 .contenido-servicio {
  flex: 1;
}
main section.servicios .contenedor-servicios .servicio1 .contenido-servicio h3,
main section.servicios .contenedor-servicios .servicio2 .contenido-servicio h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}
main section.servicios .contenedor-servicios .servicio1 .contenido-servicio p,
main section.servicios .contenedor-servicios .servicio2 .contenido-servicio p {
  font-size: 2rem;
  line-height: 1.4;
  margin-bottom: 20px;
  font-weight: 300;
}
main section.servicios .contenedor-servicios .servicio1 .contenido-servicio p span,
main section.servicios .contenedor-servicios .servicio2 .contenido-servicio p span {
  font-weight: 600;
}
main section.servicios .contenedor-servicios .servicio1 .contenido-servicio .contenedor-boton,
main section.servicios .contenedor-servicios .servicio2 .contenido-servicio .contenedor-boton {
  text-align: left;
}
main section.servicios .contenedor-servicios .servicio1 .contenido-servicio .contenedor-boton .botonesproyectos,
main section.servicios .contenedor-servicios .servicio2 .contenido-servicio .contenedor-boton .botonesproyectos {
  display: inline-block;
  padding: 12px 24px;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  background-color: #000;
  border: solid;
  border-radius: 30px;
  transition: background-color 0.3s ease;
}
main section.servicios .contenedor-servicios .servicio1 .contenido-servicio .contenedor-boton .botonesproyectos:hover,
main section.servicios .contenedor-servicios .servicio2 .contenido-servicio .contenedor-boton .botonesproyectos:hover {
  background-color: #48AE8B;
}
main section.seccion-bienvenida {
  display: flex;
  justify-content: center;
}
main section.seccion-bienvenida .contenido-bienvenida {
  display: flex;
  align-items: center;
  max-width: 1700px;
  margin: 0 auto;
  flex-wrap: wrap;
}
main section.seccion-bienvenida .contenido-bienvenida .texto-bienvenida h2 span {
  font-weight: bold;
}
main section.seccion-bienvenida .contenido-bienvenida .texto-bienvenida .parrafosobremi {
  font-size: 2rem;
  max-width: 650px;
  margin-right: 20px;
  margin-top: 20px;
}
main section.seccion-bienvenida .contenido-bienvenida .contenedor-imagenes {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 20px;
  flex-wrap: wrap;
  justify-content: center;
}
main section.seccion-bienvenida .contenido-bienvenida .contenedor-imagenes .imagen-izquierda,
main section.seccion-bienvenida .contenido-bienvenida .contenedor-imagenes .imagen-individual {
  width: 250px;
  height: 350px;
  border-radius: 10px;
  overflow: hidden;
}
main section.seccion-bienvenida .contenido-bienvenida .contenedor-imagenes .imagen-izquierda img,
main section.seccion-bienvenida .contenido-bienvenida .contenedor-imagenes .imagen-individual img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}
main section.seccion-bienvenida .contenido-bienvenida .contenedor-imagenes .imagenes-derecha {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
main section.seccion-blogs {
  background-color: #000;
  padding: 80px;
}
main section.seccion-blogs .contenido-blogs {
  max-width: 1600px;
  margin: 0 auto;
}
main section.seccion-blogs .contenido-blogs .titulo {
  text-align: left;
  color: #fff;
  font-size: 36px;
  margin-bottom: 40px;
}
main section.seccion-blogs .contenido-blogs .blogs-recientes {
  margin-top: 60px;
}
main section.seccion-blogs .contenido-blogs .blogs-recientes h3 {
  font-size: 24px;
  color: #fff;
  margin-bottom: 40px;
  text-align: center;
}
main section.seccion-blogs .contenido-blogs .blogs-recientes .contenedor-blogs {
  display: flex;
  gap: 40px;
}
main section.seccion-blogs .contenido-blogs .blogs-recientes .contenedor-blogs .blog {
  width: 32%;
  background-color: #000000;
  padding: 40px;
  border-radius: 10px;
  border: 1px solid #000000;
  transition: transform 0.3s ease;
}
main section.seccion-blogs .contenido-blogs .blogs-recientes .contenedor-blogs .blog:hover {
  transform: scale(1.05);
}
main section.seccion-blogs .contenido-blogs .blogs-recientes .contenedor-blogs .blog a {
  text-decoration: none;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  height: 100%;
}
main section.seccion-blogs .contenido-blogs .blogs-recientes .contenedor-blogs .blog a p {
  margin: 0;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.4;
}
main section.seccion-blogs .contenido-blogs .blogs-recientes .contenedor-blogs .blog a .fecha {
  font-size: 16px;
  color: #b3b3b3;
  margin-top: 20px;
}
main section.seccion-blogs .contenido-blogs .blogs-recientes .contenedor-blogs .blog a .leer-ahora {
  font-size: 16px;
  color: #ffffff;
  margin-top: 30px;
  text-decoration: underline;
  display: flex;
  align-items: center;
}
main section.seccion-blogs .contenido-blogs .blogs-recientes .contenedor-blogs .blog a .leer-ahora span {
  margin-left: 10px;
}
main section.seccion-blogs .contenido-blogs .blogs-recientes .contenedor-blogs .blog::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #333;
}
main .container {
  background-color: #000000;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
main .container .titulo h1 {
  margin-bottom: 20px;
}
main .container .row {
  display: flex;
  flex-wrap: wrap;
}
main .container .row .col-md-6 {
  width: 50%;
  padding: 20px;
  box-sizing: border-box;
}
main .container .row .col-md-6 .textoform {
  font-size: 22pt;
  text-align: left;
  margin-right: 10pt;
  font-weight: 300;
}
main .container .row .col-md-6 .textoform a {
  color: #ffffff;
  text-decoration: none;
}
main .container .row .col-md-6 .textoform a:hover {
  color: #48AE8B;
}
main .container .row .col-md-6 .textoform a span {
  font-weight: 600;
}
main .container .row .col-md-6 form label {
  display: block;
  margin-bottom: 5px;
}
main .container .row .col-md-6 form input[type=text],
main .container .row .col-md-6 form input[type=email],
main .container .row .col-md-6 form select,
main .container .row .col-md-6 form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ffffff;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #000;
  color: #fff;
}
main .container .row .col-md-6 form textarea {
  height: 120px;
}
main .container .row .col-md-6 form button {
  background-color: #000000;
  color: #fff;
  padding: 10px 20px;
  border: 2px solid;
  border-radius: 20px;
  cursor: pointer;
}
main .container .row .col-md-6 form button:hover {
  background-color: #48AE8B;
}
main .container .row .col-md-6 .contact-info {
  margin-top: 20px;
}
main .container .row .col-md-6 .contact-info a {
  color: #ffffff;
  text-decoration: none;
}

footer .textfooter {
  margin-top: 15pt;
  text-align: center;
  color: #696969;
}
footer .textfooter h2 span {
  font-weight: bold;
}
footer .textfooter .social-icons {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}
footer .textfooter .social-icons li {
  margin: 0 10px;
}
footer .textfooter .social-icons li a {
  color: #fff;
  font-size: 24px;
  text-decoration: none;
}
footer .textfooter .social-icons li a:hover {
  color: #48AE8B;
}
footer .textfooter .copyright {
  font-size: 14px;
  color: #888;
  margin-top: 10px;
}

@media (max-width: 768px) {
  main section h1 {
    font-size: 7vw;
    animation: typing 2.5s steps(30, end), blink-caret 0.75s step-end infinite;
  }
  main section.soydg {
    padding: 50px;
  }
  main section.soydg .soydg-content .texto-destacado {
    font-size: 2rem;
    margin-top: calc(15vh - 30px);
  }
  main section.trabajos1 .cliente {
    display: none;
  }
  main section.trabajos1 .cliente-carousel {
    display: block;
    position: relative;
  }
  main section.trabajos1 .cliente-carousel img {
    max-width: 80%;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
  }
  main section.trabajos1 .cliente-carousel .carousel-controls {
    position: absolute;
    bottom: -60px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
  }
  main section.trabajos1 .cliente-carousel .carousel-controls a {
    background-color: transparent;
    color: #fff;
    border: none;
    font-size: 24px;
    cursor: pointer;
    text-decoration: none;
  }
  main section.trabajos1 .cliente-carousel .carousel-controls a.prev::before {
    content: "←";
  }
  main section.trabajos1 .cliente-carousel .carousel-controls a.next::before {
    content: "→";
  }
  main section.servicios {
    padding: 40px 20px;
  }
  main section.servicios .contenedor-servicios {
    flex-direction: column;
    gap: 20px;
  }
  main section.servicios .contenedor-servicios .servicio1,
  main section.servicios .contenedor-servicios .servicio2 {
    display: grid;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 90%;
    margin: 0 auto;
    padding: 30px 20px;
  }
  main section.servicios .contenedor-servicios .servicio1 img,
  main section.servicios .contenedor-servicios .servicio2 img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  main section.servicios .contenedor-servicios .servicio1 .contenido-servicio,
  main section.servicios .contenedor-servicios .servicio2 .contenido-servicio {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  main section.servicios .contenedor-servicios .servicio1 .contenido-servicio h3,
  main section.servicios .contenedor-servicios .servicio2 .contenido-servicio h3 {
    font-size: 1.3rem;
    margin-bottom: 15px;
  }
  main section.servicios .contenedor-servicios .servicio1 .contenido-servicio p,
  main section.servicios .contenedor-servicios .servicio2 .contenido-servicio p {
    font-size: 1.1rem;
    text-align: justify;
    line-height: 1.6;
    margin-bottom: 20px;
  }
  main section.servicios .contenedor-servicios .servicio1 .contenido-servicio .contenedor-boton,
  main section.servicios .contenedor-servicios .servicio2 .contenido-servicio .contenedor-boton {
    text-align: center;
  }
  main section.servicios .contenedor-servicios .servicio1 .contenido-servicio .contenedor-boton .botonesproyectos,
  main section.servicios .contenedor-servicios .servicio2 .contenido-servicio .contenedor-boton .botonesproyectos {
    padding: 12px 25px;
    font-size: 1rem;
  }
  main section.seccion-bienvenida .contenido-bienvenida {
    flex-direction: column;
  }
  main section.seccion-bienvenida .contenido-bienvenida .texto-bienvenida {
    text-align: center;
  }
  main section.seccion-bienvenida .contenido-bienvenida .texto-bienvenida h2 {
    font-size: 1.8rem;
  }
  main section.seccion-bienvenida .contenido-bienvenida .texto-bienvenida .parrafosobremi {
    font-size: 1.1rem;
    text-align: justify;
  }
  main section.seccion-blogs {
    padding: 40px 20px;
  }
  main section.seccion-blogs .titulo h1 {
    font-size: 28px;
    text-align: center;
  }
  main section.seccion-blogs .blogs-recientes h3 {
    font-size: 20px;
    text-align: center;
  }
  main section.seccion-blogs .blogs-recientes .contenedor-blogs {
    flex-direction: column;
    gap: 20px;
  }
  main section.seccion-blogs .blogs-recientes .contenedor-blogs .blog {
    width: 100%;
    padding: 20px;
  }
  main section.seccion-blogs .blogs-recientes .contenedor-blogs .blog p {
    font-size: 16px;
    min-width: 1440px;
  }
  main section.seccion-blogs .blogs-recientes .contenedor-blogs .blog .fecha,
  main section.seccion-blogs .blogs-recientes .contenedor-blogs .blog .leer-ahora {
    font-size: 14px;
  }
  body .seccion-bienvenida .contenido-bienvenida {
    flex-direction: column;
    align-items: center;
  }
  body .seccion-bienvenida .contenido-bienvenida .parrafosobremi {
    font-size: 1.5rem;
    max-width: 90%;
    margin: 20px auto;
    text-align: center;
  }
  body .seccion-bienvenida .contenido-bienvenida .contenedor-imagenes {
    margin: 20px auto;
  }
  body .seccion-bienvenida .contenido-bienvenida .contenedor-imagenes .imagen-izquierda,
  body .seccion-bienvenida .contenido-bienvenida .contenedor-imagenes .imagen-individual {
    width: 200px;
    height: 300px;
  }
  main .container {
    padding: 30px;
  }
  main .container .titulo h1 {
    font-size: 24pt;
    margin-bottom: 10px;
  }
  main .container .row .col-md-6 {
    width: 100%;
    padding: 10px;
  }
  main .container .row .col-md-6 .textoform {
    font-size: 16pt;
    text-align: center;
    margin-right: 0;
  }
  main .container .row .col-md-6 form label {
    font-size: 14pt;
  }
  main .container .row .col-md-6 form input[type=text],
  main .container .row .col-md-6 form input[type=email],
  main .container .row .col-md-6 form select,
  main .container .row .col-md-6 form textarea {
    font-size: 14pt;
    padding: 8px;
  }
  main .container .row .col-md-6 form textarea {
    height: 100px;
  }
  main .container .row .col-md-6 form button {
    font-size: 14pt;
    padding: 8px 16px;
  }
  footer .textfooter h2 {
    font-size: 1.2rem;
  }
  footer .textfooter p {
    font-size: 1rem;
  }
  footer .textfooter .social-icons a {
    font-size: 20px;
  }
  footer .textfooter .copyright {
    font-size: 0.8rem;
  }
}
@media (max-width: 576px) {
  footer .textfooter .social-icons a {
    font-size: 18px;
  }
}
@media (max-width: 480px) {
  main section h1 {
    font-size: 9vw;
    animation: typing 2s steps(20, end), blink-caret 0.75s step-end infinite;
  }
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: rgb(114, 114, 114);
  }
}/*# sourceMappingURL=estilos.css.map */